*{
  overflow: auto;
}

body{
  margin: 0px;
  font-family: "Segoe UI";
}

header{
  background-color: #24292e;
  height: 54px;
  color: rgba(255, 255, 255, .75);
  font-family: "Segoe UI Semibold";
  font-size: 14px;
}

header .link{
  margin-left: 8px;
  margin-right: 8px;
  color: rgba(255, 255, 255, .75);
}

header .link:hover{
  color: #ffffff;
}

header .search-form{
  display: inline-table;
  vertical-align: middle;
  box-shadow: none;
  padding: 0px;
  width: 300px;
  height: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(255, 255, 255, .125);
  font-size: 13px;
  font-family: "Segoe UI";
}

header .search-form .link{
  display: table-cell;
  vertical-align: middle;
  padding-left: 8px;
  padding-right: 8px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #282e34;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  font-weight: 400;
}

header .search-form .link:hover{
  color: rgba(255, 255, 255, .75);
  background-color: rgba(255, 255, 255, .125);
}

header .search-form .query{
  display: inline-block;
  box-shadow: none;
  height: 100%;
  padding: 0px;
  padding-left: 8px;
  padding-right: 8px;
  width: 210px;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  border-style: none;
}

header .search-form .query::-webkit-input-placeholder{
  font-family: "Segoe UI Semibold";
  white-space: nowrap;
  color: rgba(255, 255, 255, .33);
}

header .nav{
  display: inline-block;
  margin-left: 8px;
}

.header-bg{
  position: absolute;
  width: 100%;
  height: 103px;
  left: 0px;
  top: 54px;
  z-index: -1;
  background-color: #fafbfc;
  border-bottom: 1px solid #e1e4e8;
}

.header{
  height: 83px;
  margin-bottom: 21px;
  padding-top: 20px;
  color: #24292e;
  overflow: visible;
}

.above-nav{
  margin-top: 1px;
  margin-bottom: 29px;
  padding-left: 8px;
  overflow: visible;
}

.above-nav-item{
  color: #586069;
  font-size: 18px;
}

.nav-bar{
  bottom: 0px;
  width: 100%;
  height: 30px;
  overflow: visible;
}

.nav-item{
  color: #586069 !important;
  font-size: 14px;
  padding-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-top-width: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.nav-item.selected{
  background-color: #ffffff;
  border-top-color: #e36209;
  border-left-color: #e1e4e8;
  border-right-color: #e1e4e8;
  border-bottom-color: white;
}

.nav-item-icon{
  opacity: .3;
  position: relative;
  top: 3px;
  left: -3px;
}

.nav-item-icon.selected{
  opacity: 1;
}

.tasks-nav{
  width: 100%;
  height: 34px;
  margin-bottom: 20px;
}

.tasks-search{
  width: 395px;
  padding-right: 10px;
}

.tasks-search-input{
  width: 280px;
  height: 20px;
  padding: 6px 8px 6px 30px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  background-color: #fafbfc;
  color: #586069;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
}

.tasks-search-icon{
  position: absolute;
  left: 8px;
  top: 9px;
}

.tasks-list-header{
  height: 47px;
  border: 1px solid #e1e4e8;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #f6f8fa;
}

.tasks-list-header .left{
  padding-left: 16px;
}

.tasks-list-header-item{
  padding: 13px 0px;
  color: #586069 !important;
  font-size: 14px;
  font-weight: 400;
  font-family: "Segoe UI";
}

.tasks-list-header-item.selected{
  color: #24292e !important;
  font-weight: 600;
  font-family: "Segoe UI Semibold";
}

.tasks-icon{
  margin-right: 2px;
  vertical-align: text-bottom;
}

.tasks-margin-left{
  margin-left: 12px;
}

.chunk-left{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: 0px !important;
}

.chunk-right{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.container{
  width: 980px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.dropdown::after{
  display: inline-block;
  height: 0px;
  width: 0px;
  vertical-align: -2px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border: 4px solid transparent;
  border-top-color: #444d56;
  content: '';
}

.inline-block{
  display: inline-block !important;
}

.absolute{
  position: absolute !important;
}

.margin-top{
  margin-top: 24px;
}

.avatar{
  width: 48px;
  height: 48px;
}

.list-item{
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #e1e4e8;
}

.image-choice{
  width: 500px;;
  height: 100px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  background-color: #fafbfc;
}

.image-item{
  cursor: pointer;
  margin-right: 2px;
  margin-bottom: 2px;
  border: 2px solid transparent;
  border-radius: 0.25em;
}

.image-item.chosen{
  border-color: #000000;
}

.user-page-left{
  display: flex;
  float: left;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 245px;
  padding-right: 16px;
}

.user-page-avatar{
  width: 230px;
  height: 230px;
}

.user-page-nick{
  width: 100%;
  height: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.btn{
  display: inline-block;
  height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  vertical-align: middle;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  color: #586069;
  cursor: pointer;
}

.btn-primary{
  color: #ffffff !important;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

.btn-select{
  color: #444d56 !important;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

.btn-link{
  padding: 6px 14px;
  border-color: #e1e4e8;
}

.margin-top-m2{
  margin-top: -2px !important;
}

.input{
  margin-bottom: 15px;
}

.text{
  font-family: "Segoe UI Light";
  color: #676767;
}

.large{
  font-size: 20px;
}

.bold{
  font-family: "Segoe UI Semibold"
}

input[type="text"].input, input[type="password"].input{
  width: 250px;
  height: 34px;
  min-height: 34px;
  box-sizing: border-box;
  padding: 6px 8px;
  font-size: 14px;
  vertical-align: middle;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  background-color: #fafbfc;
  color: #24292e;
}

input[type="text"].input:focus, input[type="password"].input:focus{
  background-color: #ffffff;
}

input[type="radio"].input{
  margin-left: 0px;
}

.error{
  padding: 5px;
  color: #86181d;
  background-color: #ffdce0;
  border: 1px solid #cea0a5;
  border-radius: 3px;
}

.title{
  padding-bottom: 16px;
}

.hcenter{
  text-align: center;
}

.vcenter{
  position: relative;
  margin: 0;
  top: 50%;
  transform: translate(0%, -50%);
}

.left{
  display: flex;
  float: left;
}

.right{
  display: flex;
  float: right;
}

.left-space{
  margin-left: 8px;
}

.url{
  color: #0366d6 !important;
  font-size: 18px;
}

.field-icon{
  position: relative;
  top: 1px;
  margin-left: -8px;
  margin-right: 5.5px;
}

.path-divider{
  margin-left: 4.5px;
  margin-right: 4.5px;
}

.strong{
  font-weight: 600;
}

.block{
  display: block;
}

.margin-bottom{
  margin-bottom: 15px;
}

.top-left{
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: -1;
}

.transparent{
  opacity: 0;
}

.hidden{
  display: none;
}

h1, h2, h3, h4, h5, h6{
  margin: 0px;
}

h3{
  font-size: 20px;
  font-weight: 600;
}

label{
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #24292e;
}

hr{
  box-sizing: content-box;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  margin: 0;
  margin-bottom: 15px;
}