a,
a:link,
a:visited,
a:hover,
a:active{
  color: blue;
  text-decoration: none;
}

.has-canvas{
  margin: 0px;
}

*{
  overflow: hidden;
}

::-webkit-input-placeholder{
  visibility: visible !important;
}