::-webkit-scrollbar{
  display: none;
  visibility: hidden;
  opacity: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active{
  color: blue;
  text-decoration: none;
}

.has-canvas{
  margin: 0px;
}

*{
  overflow: hidden;
}